.color1 {
  background-color: #ff7f50;
}
.color2 {
  background-color: #6495ed;
}
.color3 {
  background-color: #da70d6;
}
.color4 {
  background-color: #7b68ee;
}
.color5 {
  background-color: #ffd700;
}
.color6 {
  background-color: #ffb6c1;
}
.color7 {
  background-color: #a0522d;
}
.color8 {
  background-color: #2e8b57;
}
.color9 {
  background-color: #fa8072;
}
.color10 {
  background-color: #daa520;
}
td {
  padding: 5px;
}
